{% extends "base.html" %} {% block title %} Ошибка {% endblock %} {% block
header %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="nav-link " aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
    <li class="nav-item"><a href="/posts" class="nav-link">Наш Прайс</a></li>
    </ul>
</header>
{% endblock %} {% block main %}
<div class="h110">
    <h1>Ой, тут возникла ошибка</h1>
    <a href="/" class="btn btn-success">Перейти на главную страницу</a><br />
</div>
{% endblock %}
