{% extends "base.html" %}

{% block title %}
О нас
{% endblock %}

{% block header %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="nav-link " aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/about" class="nav-link active">О нас</a></li>
    <li class="nav-item"><a href="/posts" class="nav-link">Наш Прайс</a></li>
    <li class="nav-item"><a href="/admin" class="nav-link">Админка</a></li>
    </ul>
</header>
{% endblock %}

{% block main %}
<h1> О нас: </h1>
{% endblock %}