{% extends "base.html" %}

{% block title %}
Админка
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
    <li class="nav-item"><a href="/posts" class="nav-link">Наш Прайс</a></li>
    <li class="nav-item"><a href="/admin" class="nav-link active">Админка</a></li>
    </ul>
</header>
{% endblock %}

{% block main %}
<h1> Hello </h1>
<form method="post">
    <input type="password" name="pass" id="pass" class="form-control" placeholder="Введите пароль"><br>
    <input type="submit" onclick="hel()" class="btn btn-success" value="Войти"><br>
</form>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}