{% extends "base.html" %}

{% block title %}
Изменение записи
{% endblock %}


{% block header %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="nav-link " aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
    <li class="nav-item"><a href="/posts" class="nav-link active">Наш Прайс</a></li>
    <li class="nav-item"><a href="/admin" class="nav-link">Админка</a></li>
    </ul>
</header>
{% endblock %}

{% block main %}
<h1> Hello </h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="img" id="img" class="form-control" placeholder="Введите изображение для поста"><br>
    <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название поста"><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="Введите цену">{{ article.intro }}</textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
    <input type="submit" class="btn btn-success" value="Update"><br>
</form>
{% endblock %}