.h110{
    text-align: center;
}
.imh{
    height: 180px;
    width: 287px;
}
.y {
 font-size: xx-large;
}
.qt{
        display: none;
}
@media screen and (min-width: 880px) {
.t45{
    width: 25%;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}
}
@media screen and (min-width: 750px) and (max-width: 879px) {
    .t45{
        width: 30%;
        display: inline-block;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 4%;
    }
    }

    @media screen and (max-width: 750px) {
        .t45{
            width: 50%;
            display: inline-block;
            margin-left: 4%;
            margin-right: 4%;
            margin-bottom: 4%;
        }
        }